<html>
	<head>
		<title>Blog App</title>
		<link href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel = "stylesheet">	
		<!-- <link rel="stylesheet" href="/stylesheets/app.css"> -->
	</head>
	<body>
		<div class = "ui container" style = "margin-bottom: 7.0em;">
			<div class = "ui fixed menu">
				<div class = "item">
					<a href="#">Switcher</a>
				</div>
				<div class = "item">
					<a href="#">Home</a>
				</div>
				<div class = "item">
					<a href="#">View All</a>
				</div>
				<div class = "right item">
					<a href="/login">Login</a>
				</div>
				<div class = " item">
					<a href="/register">Register</a>
				</div>
				<div class = " item">
					<a href="#">Logout</a>
				</div>
			</div>
		</div>