<%- include("partials/header") %>

<div class="ui main text container  segment">
    <div class="ui huge header" style = "text-align:center;">Change Password </div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Email</label>
            <input type="text" name="email" placeholder="Email" required autocomplete="off"></div>
        <div class="field"><a href = "/login">Back</a></div>
        <div class="field"><button class="ui inverted big primary button">Next</button></div>
        
        


        
        
    </form>
</div>



<%- include("partials/footer") %>